html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 1rem;
}

section, header {
    padding: 0 1rem;
    max-width: 1400px;
    margin: 0 auto;
}